.DS_Store
home1.html
home2.html
home3.html
home4.html
home5.html
home6.html
index copie.html
index2.html
img/favicon.ico
img/hero-2.jpg
img/hero-3.jpg
img/hero-4.jpg
img/home-2-bg.png
img/home-4-bg.png
img/portfolio/1.jpg
img/portfolio/2.jpg
img/portfolio/3.jpg
img/portfolio/4.jpg

